@charset "UTF-8";
body { font-family: Arial, Helvetica, sans-serif; }
.mobile {display: none;}

#bodyWrap {box-sizing: border-box; }

header { position:fixed; top:0; left:0; width:100%; height:80px; background:rgba(0,0,0,0.05); z-index: 10; box-shadow: 5px 5px 10px rgba(0,0,0,0.1); }
.headerWrap { position: relative; max-width:1200px; margin: auto;  }
.headerWrap h1 { float:left; margin-top:25px; }
.headerWrap h1 a { display:block; width:158px; height:31px; background: url('../img/logo.png')no-repeat; background-size: 158px 31px; text-indent: -9999px;}

/* 햄버거 버튼 */
.headerWrap span { display:none; position: absolute; top:40px; right:30px; width:35px; height:2px; background: #2e2e2e; cursor: pointer; transition: 0.3s;}
.headerWrap .trigger span:nth-of-type(1){ transform: translateY(9px);}
.headerWrap .trigger span:nth-of-type(2){ }
.headerWrap .trigger span:nth-of-type(3){transform: translateY(-9px);}

.headerWrap .trigger.open  span { z-index: 9999;}
.headerWrap .trigger.open  span:nth-child(1) { transform:rotate(-45deg);}
.headerWrap .trigger.open  span:nth-child(2) { display: none;}
.headerWrap .trigger.open  span:nth-child(3) { transform:rotate(45deg);}

.sub_wrap { position: fixed; top:0; right:-300px; width:300px; height:100%; background:#fff7fa; box-shadow: 0px 10px 10px rgb(0 0 0 /0.2);}
.sub_wrap_in { padding:45px 0 40px 40px;}
.sub_wrap_in li { line-height: 60px;}
.sub_wrap_in li:nth-child(1) a { font-size: 20px; color:#1d1d1d; transition: 0.3s;}
.sub_wrap_in li:nth-child(2) a { font-size: 20px; color:#383838; transition: 0.3s;}
.sub_wrap_in li:nth-child(3) a { font-size: 20px; color:#444444; transition: 0.3s;}
.sub_wrap_in li:nth-child(4) a { font-size: 20px; color:#5e5e5e; transition: 0.3s;}
.sub_wrap_in li:nth-child(5) a { font-size: 20px; color:#7c7c7c; transition: 0.3s;}
.sub_wrap_in li:nth-child(6) a { font-size: 20px; color:#949494; transition: 0.3s;}
.sub_wrap_in li:nth-child(7) a { font-size: 20px; color:#b3b3b3; transition: 0.3s;}
.sub_wrap_in li:nth-child(8) a { font-size: 20px; color:#c0c0c0; transition: 0.3s;}
.sub_wrap_in li:nth-child(9) a { font-size: 20px; color:#d8d8d8; transition: 0.3s;}
.sub_wrap_in li a:hover { color: #5c5c5c;}

.headerWrap nav { }  
.headerWrap .gnb {  float:right; margin-top: 32px; }
.headerWrap .gnb li { position:relative; display:inline-block; margin-left: 25px; }
.headerWrap .gnb li i { }
.headerWrap .gnb li a { color:#2e2e2e; transition: 0.2s; }
.headerWrap .gnb li a:hover .gnblistUl { display: block; }

.gnblistUl { display: none; position: absolute; top:50px; left:0; background: #fff; color:#000; }
.gnblistUl li { padding:20px 15px 20px 9px;  width:70px;}
.gnblistUl a { font-size:16px; color:#5c5c5c; }
.gnblistUl a:hover { color:#ff9900 !important;}


header.scroll { background:rgba(255,255,255,1); box-shadow: 5px 5px 10px rgba(0,0,0,0.05);}
header.scroll .headerWrap .gnb li .on a { color:#2e2e2e; }
header.scroll .headerWrap .gnb li a:hover { color:#2e2e2e; }
header.scroll .headerWrap .gnb a.on {color:#2e2e2e;  }

.lang {  display:none; position: absolute; top:49px; right:0px; padding:10px; background:#fff; }
.ko { position: relative; padding-bottom: 14px; width:100%;}
.ko:after { position: absolute; content: ""; top:24px; left:-10px; width:73px; height:1px; background: #e4e4e4;}


.headerWrap .gnb a.on, .headerWrap .gnb li a:hover { color:rgba(255,255,255,0.8); }

.mainImg { position: relative; background-size: cover; background-position:center center;}
.mainImg .title { }
.mainImg .title img { width:100%; height:100%; }

.mainTxt { line-height: 25px;  animation: mainTxt 3s ease-in-out;}
.mainTxt p { position: absolute; top:24%; right: 20%; color:#686868; font-size: 13px;}
.mainTxt span {position: absolute; top:36%; right: 20%; color:#686868;  font-size: 12px;}
.mainTxt span em {  }

@keyframes mainTxt{
    0% { opacity: 0;}
    100%{ opacity: 1;}
}




main {max-width:1100px; margin: auto;  }
section { }
.section01 { margin:60px 0;}
.section01 .txt a { color:#2e2e2e;}
.section01 .txt h2 { margin-bottom:10px ; }
.section01 .txt h2 a {}
.section01 .txt p { margin-bottom: 25px;}
.section01 .txt p a { font-size: 14px; color:#9b9b9b;}
.section01 .s2_img { }
.section01 .s2_img a {}
.section01 .s2_img a img { width:100%; height:100%;}
.section01 .txtUnder { margin-top: 20px;}
.section01 .left { float:left; font-size: 15px;color:#2e2e2e; }
.info { float:right; margin-right: 150px;}
.section01 .right { font-size: 13px; color:#878787;}
.section01 .un {  margin-top: 5px;}

.section02 { margin-top:160px }
.swiper { width:auto; height:560px; }
.swiper-slide { width: 100%;}
.swiper-button-next, .swiper-button-prev  { color: #fff; }
:root {
    --swiper-theme-color: #2e2e2e;
}
.section02 h2 { padding-bottom: 40px;}
.section02 h2::after { display: block; margin-top:10px; content: ""; width:100px; height: 2px; background: #2e2e2e;}
.section02 h2 a { color:#2e2e2e;}
.s02_content { display: flex; }
.con01{ flex: 1; margin-right:20px;}
.con01 span a { color: #2e2e2e; font-size: 17px; margin-bottom: 10px;}
.con01 p a { color:#9b9b9b; font-size: 13px;}
.con01 a img {margin-top: 10px;}

.con02{}
.con02 span a{}
.con02 p a{}
.con02 a img {}

.con03{}
.con03 span a{ }
.con03 p a{}
.con03 a img {}

.section03 { margin-top:100px; }
.section03 h2 { padding-bottom: 30px;}
.section03 h2::after { display: block; margin-top:10px; content: ""; width:140px; height: 2px; background: #2e2e2e;}
.section03 h2 a { color:#2e2e2e;}
.s03_content { display: flex }
.s03_left {flex: 1; margin-right:20px; }
.s03_left a {}
.s03_left a img {}
.tit { float: left; font-size: 15px; margin-top: 15px;}
.read {float: right; font-size: 13px; color:#878787; margin:15px 50px 0 0;}
.s03_right { }

.subscribe { margin-top:100px; width:100%  }
.scribe_content{ padding-top:50px; text-align: center; background:#fff7fa; width:100%; height:90px}
.scribe_content .news { font-size: 30px;  }
.scribe_content div { display: inline-block; margin:0 20px;} 
.scribe_content a { font-size: 20px; color: #2e2e2e;}
.scribe_content input { outline:none; border:0; border:1px solid #999; border-radius:20px; font-size: 15px; width:300px; height:40px; color:#999; padding-left:15px; margin-bottom: 40px; }
.scribe_content a { color: #2e2e2e;}
.scribe_content a i {}

footer { position: relative;  border-top:1px solid #eee; }
.footer_w { width:1024px; margin:auto; height:250px; } 
.footer_top {}
.footer_top a {float:left; }
.footer_top a img { width:25px; height:25px; margin-top:60px; opacity: 0.6;}
.footL { position: relative; top:60px; left:1vw} 
.footL a { color:#606060; font-size: 15px;}
.footR { float:right; line-height: 30px; margin-top: 60px;}
.footR a { color:#2e2e2e; font-size: 14px;color:#606060}
.footer_un { text-align: center; }
.footer_un span a{ display:inline-block; font-size: 12px; color:#9b9b9b; margin-top:60px; }
